*{
	margin: 0;
	padding: 0;
	font-family: 'STIX Two Text', serif;
}

.header{
	min-height: 100vh;
	width: 100%;
	
	background-color: white;
	background-position: center;
	background-size: cover;
	position: relative;
}

nav{
	display:flex;
	padding: 2% 6%;
	justifty-content: space-between;
	align-items: center;
}

.nav-links{
	flex: 1;
	text-align: center;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a{
	color: black;
	text-decoration: none;
	font-size: 20px;
}

.nav-links ul li::after{
	content:'';
	width: 0%;
	height: 2px;
	background: black;
	display:block;
	margin:auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}